<H2 class="page-header">Edit Book</H2>

<form action="/books/<%= book.id  %>?_method=PUT" method="post">
  <%- include('_forms_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/books">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>