<H2 class="page-header">New author</H2>

<form action="/authors" method="post">
  <%- include('_forms_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/authors">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>